.container-inner {
  background-image: url("../images/2p_16x9_bg.png");
  overflow: hidden;
  font-family: "Sometype Mono", monospace;
  position: relative;
  width: 1920px;
  height: 1080px;
}

.image-with-depth {
  height: 250px;
  perspective: 551px;

  /* 画像コンテナに適用 */
  transform-style: preserve-3d;
}

.kirinuki3 {
  position: absolute;
  left: 634px;
  top: calc(546px + 175px);
  width: 385px;
  height: 191px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 28px;
}

.title {
  font-size: 52px;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.25;
  font-weight: 900;
  margin-bottom: 12px;
}

.category {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}

.platform {
  font-size: 26px;
  line-height: 26px;
  font-weight: 700;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  /*margin-bottom: 6px;*/
}

.kirinuki1 {
  background-color: red;
  width: 914px;
  height: 514px;
  position: absolute;
  left: 34px;
  top: 175px;
}

.kirinuki2 {
  background-color: red;
  width: 914px;
  height: 514px;
  position: absolute;
  left: 972px;
  top: 175px;
}

.footer-description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.footer-time {
  font-family: "Sometype Mono", monospace;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 180px;
  bottom: 12px;
}

.name-box {
  background-color: rgba(250, 8, 126, 0.1);
  border: rgb(250, 8, 126) 1px solid;
  width: 500px;
  height: 80px;
  color: rgb(250, 8, 126);
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  transform: scaleX(0.95) rotateY(5deg) translateY(8px);
}

.right {
  transform: scaleX(0.95) rotateY(-5deg) translateY(8px);
}

.speaker-icon {
  margin-left: 10px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  padding: 0;
  left: 1017px;
  top: 721px;
  width: 268px;
  height: 191px;
}

.timer-top {
  color: #fff;
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
  font-size: 54px;
}

.timer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-label {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  margin-right: 10px;
}

.timer-time {
  color: #fff;
  font-family: "Sometype Mono", monospace;
  font-size: 28px;
}

.main_container {
  top: calc(546px + 175px);
  left: 100px;
  position: absolute;
  width: 1720px;
  display: flex;
  justify-content: space-between;
}

.time-mini {
  font-size: 36px;
  color: #fff;
  font-family: "Sometype Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.time-mini .flag-icon {
  margin-right: 10px;
}

.kirinuki4 {
  background-color: red;
  position: absolute;
  left: 224px;
  width: 1472px;
  height: 52px;
  top: calc(769px + 175px);
}

.complete {
  background-color: rgb(250, 8, 126);
  color: rgb(23, 29, 28);
}

.mistake {
  color: rgba(255, 255, 255, 0.4);
}