.container-inner {
  background-color: #131e1b;
  overflow: hidden;
  font-family: "Noto Sans JP", sans-serif;
  font-family: "Sometype Mono", monospace;
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 1080px;
}
.image-with-depth {
  height: 250px;
  perspective: 551px;

  /* 画像コンテナに適用 */
  transform-style: preserve-3d;
}

.kirinuki3 {
  position: absolute;
  left: 634px;
  top: calc(546px + 175px);
  width: 385px;
  height: 191px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.title {
  font-size: 52px;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.25;
  font-weight: bold;
  margin-bottom: 10px;
}

.category {
  font-size: 26px;
  line-height: 32px;
  font-weight: bold;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}

.platform {
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}

.kirinuki1 {
  background-color: red;
  width: 914px;
  height: 514px;
  position: absolute;
  left: 34px;
  top: 175px;
}

.kirinuki2 {
  background-color: red;
  width: 914px;
  height: 514px;
  position: absolute;
  left: 972px;
  top: 175px;
}

.footer-description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.footer-time {
  font-family: "Sometype Mono", monospace;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 15px;
  bottom: 12px;
}

.name-box {
  background-color: rgba(250, 8, 126, 0.1);
  border: rgb(250, 8, 126) 1px solid;
  width: 500px;
  height: 80px;
  color: rgb(250, 8, 126);
  font-size: 28px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  transform: scaleX(0.95) rotateY(5deg);
}

.right {
  transform: scaleX(0.95) rotateY(-5deg);
}

.speaker-icon {
  margin-left: 10px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  padding: 0;
  left: 1017px;
  top: 721px;
  width: 268px;
  height: 191px;
}

.timer-top {
  color: #fff;
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
  font-size: 54px;
}

.timer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-label {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 18px;
  margin-right: 20px;
}

.timer-time {
  color: #fff;
  font-family: "Sometype Mono", monospace;
  font-size: 28px;
}

.main_container {
  top: calc(546px + 175px);
  left: 100px;
  position: absolute;
  width: 1720px;
  display: flex;
  justify-content: space-between;
}

.time-mini {
  font-size: 36px;
  color: #fff;
  font-family: "Sometype Mono", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.time-mini .flag-icon {
  margin-right: 10px;
}

.kirinuki4 {
  background-color: red;
  position: absolute;
  left: 224px;
  width: 1472px;
  height: 52px;
  top: calc(769px + 175px);
}

.informations {
  position: absolute;
  right: 20px;
  top: 510px;
  width: 930px;
  color: #fff;
}

.title_1 {
  width: 100%;
  font-weight: bold;
  font-size: 42px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 35px;
}

.description_1 {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 60px;
}

.time_2 {
  color: rgb(250, 8, 126);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 55px 0;
  font-weight: bold;
  position: absolute;
  left: -191px;
  width: 175px;
  height: 84px;
}

.time_2 span {
  font-size: 20px;
}

.title_2 {
  width: 100%;
  font-weight: bold;
  font-size: 32px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 30px;
}

.description_2 {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 50px;
}

.time_3 {
  color: rgb(250, 8, 126);
  font-family: "Noto Sans JP", sans-serif;
  font-size: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 55px 0;
  font-weight: bold;
  position: absolute;
  left: -191px;
  width: 175px;
  height: 84px;
}

.time_3 span {
  font-size: 20px;
}

.title_3 {
  width: 100%;
  font-weight: bold;
  font-size: 32px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 30px;
}

.description_3 {
  width: 100%;
  font-weight: bold;
  font-size: 18px;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 30px;
}

.main_image {
  position: absolute;
  left: -4px;
  top: 0px;
}

.time {
  color: rgb(250, 8, 126);
  left: 1423px;
  top: 823px;
  height: 146px;
  width: 427px;
  position: absolute;
  font-family: "Sometype Mono", monospace;
  font-size: 96px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
