body {
  background: #D9D9D9;
}

.container-inner {
  background: url("../images/1p_16x9_bg.png") no-repeat left top / 100%;
  overflow: hidden;
  font-family: "Sometype Mono", monospace;
  position: relative;
  width: 1920px;
  height: 1080px;
}
.image-with-depth {
  height: 100vh;
  /* 透視点を設定 */
  perspective: 1300px;

  /* 画像コンテナに適用 */
  transform-style: preserve-3d;
}

.image-with-depth div.left_container {
  /* Y軸周りに画像を回転させる */
  transform: rotateY(30deg) scaleX(0.85);
  width: 517px;
  height: 1020px;
  position: absolute;
  top: 0;
  left: 0;
}

.title {
  font-size: 47px;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.25;
  font-weight: 900;
  margin-bottom: 16px;
}

.category {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}

.platform {
  font-size: 26px;
  line-height: 32px;
  font-weight: 700;
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  margin-bottom: 10px;
}

.kirinuki0 {
  width: 408px;
  height: 421px;
  padding: 16px;
  position: absolute;
  left: 80px;
  top: 239px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.kirinuki1 {
  background-color: red;
  width: 340px;
  height: 250px;
  position: absolute;
  left: 60px;
  top: 700px;
}

.kirinuki2 {
  background-color: red;
  width: 1376px;
  height: 774px;
  position: absolute;
  left: 530px;
  top: 126px;
}

.kirinuki2_3x2 {
  background-color: blue;
  width: 1341px;
  height: 1006px;
  position: absolute;
  left: 554px;
  top: 13px;
}

.kirinuki2_sp {
  background-color: green;
  width: 1376px;
  height: 1006px;
  position: absolute;
  left: 529px;
  top: 13px;
}

footer {
  color: var(--background, #171D1C);
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 1920px;
  height: 50px;
  padding: 0 178px 0 20px;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.footer-description {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.footer-time {
  font-family: "Sometype Mono", monospace;
  font-size: 28px;
  font-weight: bold;
}

.timer {
  display: flex;
  justify-content: space-between;
  padding: 16px 2px 0 0;
  margin-top: 16px;
  width: 100%;
  border-top: 1px solid #FA087E;
}

.timer-left {
  color: #fff;
  font-family: "Sometype Mono", monospace;
  font-weight: bold;
  font-size: 54px;
}

.timer-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-label {
  color: #fff;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 18px;
}

.timer-time {
  color: #fff;
  font-family: "Sometype Mono", monospace;
  font-size: 28px;
  margin-top: 6px;
}

.complete {
  background-color: rgb(250, 8, 126);
  color: rgb(23, 29, 28);
}

.pause {
  color: rgba(255, 255, 255, 0.4) !important;
}

.forfeit {
  color: rgba(255, 255, 255, 0.4) !important;
}